In [1]:
import numpy as np
import pandas as pd

In [6]:
def load():
  data = pd.read_csv("healthcare-dataset-stroke-data.csv")
  return data

In [8]:
df = load()
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [10]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [11]:
df.isnull()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,False,False,False,False,False,False,False,False,False,True,False,False
5106,False,False,False,False,False,False,False,False,False,False,False,False
5107,False,False,False,False,False,False,False,False,False,False,False,False
5108,False,False,False,False,False,False,False,False,False,False,False,False
5109,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
cat_cols = df.select_dtypes(include="object").columns
cat_cols

Index(['gender', 'ever_married', 'work_type', 'Residence_type',
       'smoking_status'],
      dtype='object')

In [16]:
for col in cat_cols:
  print(f"{col}:")
  print(df[col].nunique())

gender:
3
ever_married:
2
work_type:
5
Residence_type:
2
smoking_status:
4

In [17]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse_output=False)
encoded_array = one_hot_encoder.fit_transform(df[["gender"]])
encoded_array

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [22]:
#let's get new column names
encoded_columns = one_hot_encoder.get_feature_names_out(["gender"])

In [23]:
#let's create new dataframe
encoded_df = pd.DataFrame(encoded_array, columns=encoded_columns)
encoded_df

      gender_Female  gender_Male  gender_Other
0               0.0          1.0           0.0
1               1.0          0.0           0.0
2               0.0          1.0           0.0
3               1.0          0.0           0.0
4               1.0          0.0           0.0
...             ...          ...           ...
5105            1.0          0.0           0.0
5106            1.0          0.0           0.0
5107            1.0          0.0           0.0
5108            0.0          1.0           0.0
5109            1.0          0.0           0.0

[5110 rows x 3 columns]

In [28]:
#let's merge dataframes
df_final = pd.concat([df, encoded_df], axis=1)
df_final

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,gender_Male,gender_Other
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,1.0,0.0
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,0.0,0.0
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,1.0,0.0
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,0.0,0.0
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,0.0,0.0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,0.0,0.0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,0.0,0.0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,1.0,0.0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,0.0,0.0

In [27]:
#dummy variable trick
encoded_df = encoded_df.drop(columns=["gender_Female"])
encoded_df

      gender_Male  gender_Other
0             1.0           0.0
1             0.0           0.0
2             1.0           0.0
3             0.0           0.0
4             0.0           0.0
...           ...           ...
5105          0.0           0.0
5106          0.0           0.0
5107          0.0           0.0
5108          1.0           0.0
5109          0.0           0.0

[5110 rows x 2 columns]

In [25]:
one_hot_encoder = OneHotEncoder(sparse_output=False)
encoded_array = one_hot_encoder.fit_transform(df[["work_type"]])
encoded_array

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [29]:
#let's get new column names
encoded_columns = one_hot_encoder.get_feature_names_out(["work_type"])

In [30]:
#let's create new dataframe
encoded_df =pd.DataFrame(encoded_array, columns=encoded_columns)
encoded_df

,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...
5105,0.0,0.0,1.0,0.0,0.0
5106,0.0,0.0,0.0,1.0,0.0
5107,0.0,0.0,0.0,1.0,0.0
5108,0.0,0.0,1.0,0.0,0.0
5109,1.0,0.0,0.0,0.0,0.0

In [31]:
#let's merge dataframes
df_final = pd.concat([df,encoded_df],axis=1)

In [32]:
df_final

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,0.0,0.0,1.0,0.0,0.0
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,0.0,0.0,0.0,1.0,0.0
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,0.0,0.0,1.0,0.0,0.0
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,0.0,0.0,1.0,0.0,0.0
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,0.0,0.0,1.0,0.0,0.0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,0.0,0.0,0.0,1.0,0.0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,0.0,0.0,0.0,1.0,0.0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,0.0,0.0,1.0,0.0,0.0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,1.0,0.0,0.0,0.0,0.0

In [35]:
one_hot_encoder = OneHotEncoder(sparse_output=False)
encoded_array = one_hot_encoder.fit_transform(df[["smoking_status"]])
encoded_array

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       ...,
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

In [36]:
#let's get new column names
encoded_columns = one_hot_encoder.get_feature_names_out(["smoking_status"])

In [37]:
#let's create new dataframe
encoded_df = pd.DataFrame(encoded_array, columns = encoded_columns)
encoded_df

,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0
...,...,...,...,...
5105,0.0,0.0,1.0,0.0
5106,0.0,0.0,1.0,0.0
5107,0.0,0.0,1.0,0.0
5108,0.0,1.0,0.0,0.0
5109,1.0,0.0,0.0,0.0

In [38]:
encoded_df = encoded_df.drop(columns=["smoking_status_Unknown"])
encoded_df

,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,0.0,0.0
1,0.0,1.0,0.0
2,0.0,1.0,0.0
3,0.0,0.0,1.0
4,0.0,1.0,0.0
...,...,...,...
5105,0.0,1.0,0.0
5106,0.0,1.0,0.0
5107,0.0,1.0,0.0
5108,1.0,0.0,0.0
5109,0.0,0.0,0.0

In [39]:
#let's merge dataframes
df_final = pd.concat([df,encoded_df],axis=1)
df_final

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,1.0,0.0,0.0
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,0.0,1.0,0.0
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,0.0,1.0,0.0
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,0.0,0.0,1.0
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,0.0,1.0,0.0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,0.0,1.0,0.0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,0.0,1.0,0.0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,1.0,0.0,0.0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,0.0,0.0,0.0

In [43]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df["ever_married_label"] = label_encoder.fit_transform(df["ever_married"])
df.drop(columns=["ever_married"])

,id,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,ever_married_label,Residence_type_label
0,9046,Male,67.0,0,1,Private,Urban,228.69,36.6,formerly smoked,1,1,1
1,51676,Female,61.0,0,0,Self-employed,Rural,202.21,NaN,never smoked,1,1,0
2,31112,Male,80.0,0,1,Private,Rural,105.92,32.5,never smoked,1,1,0
3,60182,Female,49.0,0,0,Private,Urban,171.23,34.4,smokes,1,1,1
4,1665,Female,79.0,1,0,Self-employed,Rural,174.12,24.0,never smoked,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Private,Urban,83.75,NaN,never smoked,0,1,1
5106,44873,Female,81.0,0,0,Self-employed,Urban,125.20,40.0,never smoked,0,1,1
5107,19723,Female,35.0,0,0,Self-employed,Rural,82.99,30.6,never smoked,0,1,0
5108,37544,Male,51.0,0,0,Private,Rural,166.29,25.6,formerly smoked,0,1,0
5109,44679,Female,44.0,0,0,Govt_job,Urban,85.28,26.2,Unknown,0,1,1

In [42]:
label_encoder = LabelEncoder()
df["Residence_type_label"] = label_encoder.fit_transform(df["Residence_type"])
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,ever_married_label,Residence_type_label
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,1,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,1,0
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,1,0
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,1,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,1,1
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,1,1
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,1,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,1,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,1,1

In [45]:
df.drop(columns=["Residence_type"])

,id,gender,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke,ever_married_label,Residence_type_label
0,9046,Male,67.0,0,1,Yes,Private,228.69,36.6,formerly smoked,1,1,1
1,51676,Female,61.0,0,0,Yes,Self-employed,202.21,NaN,never smoked,1,1,0
2,31112,Male,80.0,0,1,Yes,Private,105.92,32.5,never smoked,1,1,0
3,60182,Female,49.0,0,0,Yes,Private,171.23,34.4,smokes,1,1,1
4,1665,Female,79.0,1,0,Yes,Self-employed,174.12,24.0,never smoked,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,83.75,NaN,never smoked,0,1,1
5106,44873,Female,81.0,0,0,Yes,Self-employed,125.20,40.0,never smoked,0,1,1
5107,19723,Female,35.0,0,0,Yes,Self-employed,82.99,30.6,never smoked,0,1,0
5108,37544,Male,51.0,0,0,Yes,Private,166.29,25.6,formerly smoked,0,1,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,85.28,26.2,Unknown,0,1,1