In [19]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
data = [
    "Common cold symptoms include a runny nose, sneezing, and a sore throat.",
    "Influenza, or the flu, often causes high fever, muscle aches, and fatigue.",
    "Diabetes is a chronic condition that affects how the body processes blood sugar.",
    "Asthma is a respiratory condition marked by spasms in the bronchi of the lungs.",
    "Hypertension is another name for high blood pressure which can lead to heart disease."
]

In [21]:
df = pd.DataFrame(data)
df

                                                   0
0  Common cold symptoms include a runny nose, sne...
1  Influenza, or the flu, often causes high fever...
2  Diabetes is a chronic condition that affects h...
3  Asthma is a respiratory condition marked by sp...
4  Hypertension is another name for high blood pr...

In [22]:
tfidf_model = TfidfVectorizer()

In [23]:
data_vectors = tfidf_model.fit_transform(data)

In [24]:
model_set = tfidf_model.get_feature_names_out()

In [25]:
vector_rep = data_vectors.toarray()

In [26]:
vector_rep

array([[0.        , 0.        , 0.25970376, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.32189611, 0.32189611, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.32189611, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.32189611,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.32189611, 0.32189611, 0.32189611, 0.        ,
        0.        , 0.32189611, 0.        , 0.        , 0.32189611,
        0.        , 0.        ],
       [0.30499223, 0.        , 0.24606581, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.30499223, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.30499223, 0.30499223, 0.30499223,
        0.        , 0.        , 0.24606581, 0.        , 0.        ,
        0.        , 0.        , 0.30499223, 0.        , 0.        ,
        0.        , 0.        , 0.30499223, 0.        , 0.        ,
        0.        , 0.30499223, 0.30499223, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.20425685, 0.        ,
        0.        , 0.        ],
       [0.        , 0.31312965, 0.        , 0.        , 0.        ,
        0.25263103, 0.31312965, 0.        , 0.        , 0.        ,
        0.        , 0.31312965, 0.        , 0.        , 0.25263103,
        0.31312965, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.31312965, 0.        ,
        0.        , 0.        , 0.        , 0.20970658, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31312965,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.31312965, 0.        , 0.31312965, 0.20970658, 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.28996491,
        0.        , 0.        , 0.28996491, 0.28996491, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.23394186,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28996491, 0.        , 0.        , 0.19419288, 0.        ,
        0.28996491, 0.28996491, 0.        , 0.        , 0.        ,
        0.28996491, 0.        , 0.        , 0.        , 0.        ,
        0.28996491, 0.        , 0.        , 0.        , 0.28996491,
        0.        , 0.        , 0.        , 0.38838576, 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.28005222, 0.        ,
        0.22594437, 0.        , 0.        , 0.        , 0.28005222,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28005222, 0.        , 0.        , 0.        ,
        0.28005222, 0.28005222, 0.22594437, 0.        , 0.28005222,
        0.        , 0.        , 0.        , 0.18755423, 0.28005222,
        0.        , 0.        , 0.        , 0.28005222, 0.        ,
        0.        , 0.        , 0.        , 0.28005222, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28005222, 0.28005222]])

In [27]:
df_tf_idf = pd.DataFrame(vector_rep, columns = model_set)
df_tf_idf

,aches,affects,and,another,asthma,blood,body,bronchi,by,can,...,sneezing,sore,spasms,sugar,symptoms,that,the,throat,to,which
0,0.000000,0.00000,0.259704,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.321896,0.321896,0.000000,0.00000,0.321896,0.00000,0.000000,0.321896,0.000000,0.000000
1,0.304992,0.00000,0.246066,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.204257,0.000000,0.000000,0.000000
2,0.000000,0.31313,0.000000,0.000000,0.000000,0.252631,0.31313,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.31313,0.000000,0.31313,0.209707,0.000000,0.000000,0.000000
3,0.000000,0.00000,0.000000,0.000000,0.289965,0.000000,0.00000,0.289965,0.289965,0.000000,...,0.000000,0.000000,0.289965,0.00000,0.000000,0.00000,0.388386,0.000000,0.000000,0.000000
4,0.000000,0.00000,0.000000,0.280052,0.000000,0.225944,0.00000,0.000000,0.000000,0.280052,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.280052,0.280052

In [28]:
ave_tf_idf = df_tf_idf.mean(axis=0)
ave_tf_idf

aches           0.060998
affects         0.062626
and             0.101154
another         0.056010
asthma          0.057993
blood           0.095715
body            0.062626
bronchi         0.057993
by              0.057993
can             0.056010
causes          0.060998
chronic         0.062626
cold            0.064379
common          0.064379
condition       0.097315
diabetes        0.062626
disease         0.056010
fatigue         0.060998
fever           0.060998
flu             0.060998
for             0.056010
heart           0.056010
high            0.094402
how             0.062626
hypertension    0.056010
in              0.057993
include         0.064379
influenza       0.060998
is              0.118291
lead            0.056010
lungs           0.057993
marked          0.057993
muscle          0.060998
name            0.056010
nose            0.064379
of              0.057993
often           0.060998
or              0.060998
pressure        0.056010
processes       0.062626
respiratory     0.057993
runny           0.064379
sneezing        0.064379
sore            0.064379
spasms          0.057993
sugar           0.062626
symptoms        0.064379
that            0.062626
the             0.160470
throat          0.064379
to              0.056010
which           0.056010
dtype: float64

In [31]:
df_tf_idf["the"]

0    0.000000
1    0.204257
2    0.209707
3    0.388386
4    0.000000
Name: the, dtype: float64

In [30]:
df_tf_idf["diabetes"]

0    0.00000
1    0.00000
2    0.31313
3    0.00000
4    0.00000
Name: diabetes, dtype: float64